<div class="animate__animated animate__fadeIn animate__faste">
  <h2>By Country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-country-search-input
        (onEnter)="search( $event )"
        (onDebounce)="suggestion( $event )"
        placeholder="Search country...">
      </app-country-search-input>
    </div>
  </div>

  <ul *ngIf="showSuggested" class="list-group">
    <li *ngFor="let suggestedCountry of suggestedCountries" class="list-group-item list-group-item-action">
      <a class="nav-link"
         [routerLink]="['/country', suggestedCountry.cca2]">
        {{ suggestedCountry.name.common }}
      </a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="suggestedSearch( term )">
      <a class="nav-link">
        Search "{{ term }}"
      </a>
    </li>
  </ul>

  <hr>
</div>



<div *ngIf="hasError" class="alert alert-danger">
  The {{ term }} was not found
</div>



<div *ngIf="!hasError" class="row">
  <div class="col">
    <app-country-table [countries]="countries">
    </app-country-table>
  </div>
</div>
