<h2>By-country</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" autocomplete="off">
      <input
        type="text"
        name="term"
        class="form-control"
        placeholder="Search country..."
        [(ngModel)]="term"
      >
    </form>
  </div>
</div>

<hr>

<div *ngIf="hasError" class="alert alert-danger">
  The {{ term }} was not found
</div>


<div *ngIf="!hasError" class="row">
  <div class="col">

    <table *ngIf="countries.length > 0" class="table table-hover">
      <thead>
        <tr>
          <th> # </th>
          <th> Flag</th>
          <th> Name </th>
          <th> Population </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i=index">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="country.flags['svg']" class="small-flag">
          </td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.population | number }}</td>
          <td>
            <a [routerLink]="['/country', country.cca2]" >See...</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
