<div class="animate__animated animate__fadeIn animate__faste">
  <h2>By Country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-country-search-input
        (onEnter)="search( $event )"
        (onDebounce)="suggestion( $event )"
        placeholder="Search country..."
      >
      </app-country-search-input>
    </div>
  </div>

  <hr>
</div>



<div *ngIf="hasError" class="alert alert-danger">
  The {{ term }} was not found
</div>



<div *ngIf="!hasError" class="row">
  <div class="col">
    <app-country-table [countries]="countries">
    </app-country-table>
  </div>
</div>
